.btn {
    height: 50px;
    width: 200px;
    margin-top: 25px;
    border: 1px solid black;
    background-color: rgb(215, 206, 206);
    font-size: 20px;
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #e8e5e5;
    border: 2px solid black;
}

.btnDiv {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}